# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
env/
venv/
.env/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Database artifacts
*.sqlite
*.db

# IDEs / editors
.vscode/
.idea/